fastapi
uvicorn[standard]
sqlalchemy
pydantic
psycopg2-binary
uvicorn[standard]
python-multipart
python-jose
python-dotenv
alembic
fiona
gunicorn
lxml
rasterstats
flower
python-decouple
pydantic-settings
requests
fastapi-pagination
geopandas
tqdm
rasterio
matplotlib
uvicorn[standard]
psycopg2-binary
alembic
bcrypt
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
pydantic[email]
pydantic_settings
python-multipart
python-decouple
pyjwt[crypto]
pyjwt
redis[hiredis]
aiosmtplib
pyotp
datashader
reportlab
celery 
redis
websockets
scipy
jenkspy
cartopy
celery-progress


